extends ../layouts/common.pug
block content
  h1 Cart
  table.table.table-bordered.table-light
      thead
        tr
          th(scope='col') image
          th(scope='col') name
          th(scope='col') amount
          th(scope='col') price
           th(scope='col') button
      tbody
        each item in cart
            tr.cart-item(data-id= item.product._id)
              td
                image(src= item.product.image, width='50',height='50')
              td= item.product.name
              td
                input.form-control.cart-quantity-input(type='number', data-index='0', min='1', value= item.quantity)
              td= item.product.price
              td
                 a.btn.btn-primary.delete-cart-button Delete
  .total_price.float-right.d-inline-flex
    h3 total price: 
    h3.total-show #{totalPrice}
block script
  script(src='/js/cart.js')