extends ../layouts/common.pug
block content
    .row
       each product in foods
            .col-3(data-id= product.id)
                img(src= product.image, width='200', height='200')
                .info
                    h5= product.name
                    h6 price #{product.price} 
                    a.btn.btn-primary.add-cart-button Add To Cart
                    a.btn.btn-danger.view-detail-button(href='/products/'+ product.id) View
block script
    script(src='/js/products.js')